    /* Media Queries */
    
    @media only screen and (max-width: 600px) {@media only screen and (max-width: 600px) {
      h1 {
      font-size: 2rem;
      }
      }
    
    @media only screen and (max-width: 600px) {
      .feature-stories {
        grid-template-columns: 1fr; /*1 column for mobile devices*/
        grid-auto-flow: row; /* stack the items vertically */
      }
    }
    
    .feature img {
      max-width: 400px;
      height: auto;
    }
    
    body {
    font-family: Poppins, Montserrat, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    background-color: #194B63;
    align-content: center;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 3rem;
    color: #194B63;
  }
  
  h6 {
    font-size: large;
    color: #194B63;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    max-width: 90%;
  }
  
  .hero-image img {
      max-width: 100%;
      height: auto;
      width: 100%;
      background-image: url("/img/background+FINAL.jpg");
      background-size: cover;
      position: relative;
  }
  
  .hero-container {
    position: relative;
    overflow: hidden;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .hero-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-text {
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  @media only screen and (max-width: 800px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }
  }
  
  @media only screen and (max-width: 600px) {
  .hero-text h1 {
    font-size: 1rem;
  }
  }
  
  
  .pitch {
      text-align:center;
      white-space:pre-wrap;
      margin:auto;
      background-color: #ffffff;
      padding-left: 5%;
  }
  
  .pitch p {
    text-align: center;
    line-height: 1;
  }
  
  .feature-stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*default value for desktop*/
    grid-gap: 1em;
    max-width: 90%;
    margin:auto;
    padding: 5%;
    color: #ffffff;
  }
  
  @media only screen and (max-width: 600px) {
    .feature-stories {
      grid-template-columns: 1fr; /*1 column for mobile devices*/
      grid-auto-flow: row; /* stack the items vertically */
    }
  }
  
  
  .feature img {
    max-width: 400px;
    height: auto;
  }
  
  button {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px 0px;
    color: #194B63;
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .02em;
    font-size:1rem;
    padding: 1.2em 2.004em;
    border-width: 0px;
    line-height: normal;
    }
    
    .subscription-form {
    text-align: center;
    color: #ffffff;
    }
    
    .form-popup {  
    position: fixed;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 9;
    display: none;
    }
    
    .button {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    background-color: #194B63;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .02em;
    font-size: 1rem;
    padding: 1.2em 2.004em;
    border-width: 0px;
    line-height: normal;
    align: center;
    }
    
    .center {
    display: block;
    margin: 0 auto;
    text-align: center;
    }
    
    .footer {
    text-align: center;
    padding: 1em 0;
    }
    
    .footer img {
    max-width: 100%;
    padding-top: 40px;
    }
    
